.navbar-collapse{
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.middle-element{
  padding-left: 10px;
}
.last-element{
  padding-left: 500px;
}
.navbar-brand
{
  font-size: 36px;
  font-weight: 600;
  padding-right: 5rem;
}
.hawk{
  padding-right: 10px;
  color: #000000;
  
  font-weight: 800;
}
.er{
  color: #7a7474;
  font-family: 'Mulish', sans-serif;
}
.navbar{
  font-family: 'Montserrat', sans-serif;
  // background-color: #FFEACC;
  // position: fixed;
  margin-right: 900px;
  top: 0;
  box-shadow: none;
  width: 100%;
  z-index: 1000;
  height: 5rem;
}
.btn-yellow{
  background-color: #ffffff;
  margin-right:16px;
  box-shadow: none;
  font-weight: 600;
  color: black;
}
.btn-white{
  margin-right:16px;
  border: 1px solid black;
  background-color: #FFEACC;
  font-weight: 600;
  color: black;
  box-shadow: none;
}
.btn-position{
  text-align: right;
}



//login
.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  margin-left:800px;
  width: 400px;
}

.login-form {
  width: 400px;
  border-radius: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.form-group {
  margin-bottom: 40px;
}

label {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.btn_login {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 325px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.error-message {
  margin-top: 20px;
  color: red;
}

.pass{
  margin-bottom: 25px;
}
.user{
  margin-bottom: 20px;
}