.container_extra{
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    color:#000000;
}
.title{
    margin-left: 500px;
    margin-top: 100px;
}
.trending{
    margin-left:350px;
    margin-top: 40px;
    width: 800px;
}